
.container
    display: flex
    flex-direction: column
    margin: 10px

.detail-container
    display: flex
    flex-direction: column
    
    @media (min-width: 768px)
        flex: 5

.summary-container
    display: flex
    flex-direction: column
    
    @media (min-width: 768px)
        flex: 3
.separator-line
    border-bottom: 5px solid #fff4e9
    border-radius: 5px
    
    @media (min-width: 768px)
        flex: 1
        max-width: 5px
        background-color: #fff4e9
        margin: 0 15px

.back-text
    margin-left: 10px

.content-box
    @media (min-width: 768px)
        display:flex
        flex-direction: row
        height: 60vh
