.finish
    margin: auto
    display: flex
    flex-direction: column

.finish--text__bold
    font-weight: bold

.finish--body
    display: flex
    flex-direction: column 
    align-items: flex-start
    margin-bottom: 30px

    p
        margin: 5px 0