.content--row__summary
    flex: 1

.content--row__detail
    flex: 2
    min-height: 300px

.content--row__pricing
    flex: 1    
    min-height: 200px;
    justify-content: flex-end;

.content--row__line
    border-top: 4px solid #eff0ef
    width: 50%

.summary-detail-text
    margin-bottom: 15px
    display: flex
    justify-content: space-between

.text__green
    color: #49de94
    font-weight: bold

